* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-tap-highlight-color: transparent;
}